.button {
  border: var(--border_default);
  background-color: var(--color_primary);
  color: var(--color_white);
  padding: 1rem 2rem;
  border-radius: 999rem;
  cursor: pointer;
  transition: var(--transition_default);
}

.button:hover {
  background-color: var(--color_white);
  color: var(--color_primary);
}

.button:active {
  background-color: var(--color_gray_1);
  color: var(--color_primary);
}

.button:disabled {
  border-color: var(--color_gray_1);
  background-color: var(--color_gray_1);
  color: var(--color_gray_4);
  cursor: not-allowed;
}
