.label {
  display: block;
  font: var(--text_footnote);
  color: var(--color_gray_4);
}

.select {
  width: 100%;
  padding: 0.4rem 0;
  border: none;
  border-bottom: 0.1rem solid var(--color_gray_1);
  font: var(--text_body);
  outline: none;
  transition: var(--transition_duration);
}

.select:focus {
  border-bottom-color: var(--color_primary);
}

.select.placeholder {
  color: var(--color_gray_3);
}

/* error state */
.select.error,
.select.error:focus {
  border-bottom-color: var(--color_secondary);
}

/* disabled state */
.select:disabled {
  cursor: not-allowed;
  background-color: var(--color_gray_1);
  border-bottom-color: var(--color_gray_2);
}
