@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

/* soft reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* base styles */
html {
  font-family: var(--font_family);
  font-size: 16px;
  background-color: var(--color_white);
  color: var(--color_primary);
}

/* variables */
:root {
  /* color */
  --color_primary: #191847;
  --color_secondary: #f5850b;
  --color_white: #fff;
  --color_gray_1: #ebebeb;
  --color_gray_2: #dddddd;
  --color_gray_3: #b0b0b0;
  --color_gray_4: #727272;
  --color_black: #000;

  /* typography */
  --font_family: "DM Sans", sans-serif;
  --heading_1: normal normal 700 3.75rem/1 var(--font_family);
  --heading_2: normal normal 700 2.5rem/1 var(--font_family);
  --heading_3: normal normal 400 2rem/1 var(--font_family);
  --heading_4: normal normal 400 1.25rem/1 var(--font_family);
  --heading_5: normal normal 400 1rem/1 var(--font_family);
  --heading_6: normal normal 400 0.75rem/1 var(--font_family);
  --text_regular: normal normal 400 1rem/1.4 var(--font_family);
  --text_small: normal normal 400 0.875rem/1.4 var(--font_family);
  --text_small_bold: normal normal 700 0.875rem/1.4 var(--font_family);
  --text_footnote: normal normal 400 0.75rem/1.4 var(--font_family);
  --text_exception: normal normal 400 0.625rem/1.4 var(--font_family);

  /* border */
  --border_primary: 0.1rem solid var(--color_primary);
  --border_secondary: 0.1rem solid var(--color_secondary);
  --border_gray: 0.1rem solid var(--color_gray_1);
  --border_radius: 1rem;

  /* transition */
  --transition_duration: 100ms;

  /* animation */
  --animation_hover_opacity: 100ms ease-in-out forwards hover-opacity;
}

@keyframes hover-opacity {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.8;
  }
}
