.checkout {
  display: flex;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  align-items: flex-start;
  color: var(--color_black);
}

.fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.twoInputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.9rem;
}

.submit {
  margin-top: 2.5rem;
  width: 100%;
}

.planList {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 1.8rem;
  list-style-type: none;
}

.planWarning {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  margin-top: 1.8rem;
  color: var(--color_black);
}

.icon {
  cursor: help;
}

.tooltip {
  max-width: 12rem;
}

/* bigger screen */
@media screen and (min-width: 768px) {
  .checkout {
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .column {
    width: 330px;
  }
}

/* smaller screen */
@media screen and (max-width: 767px) {
  .checkout {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }

  .column {
    width: 100%;
    max-width: 400px;
  }
}
