.chip {
  padding: 0.2rem 0.6rem;
  border-radius: 999rem;
  font: var(--text_exception);
}

.filled {
  background-color: var(--color_secondary);
  color: var(--color_white);
}

.outlined {
  border: var(--border_gray);
  background-color: var(--color_white);
  color: var(--color_black);
}
