/* soft reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font_family);
  font-size: 16px;
  background-color: var(--white);
  color: var(--color_primary);
}
